.ma-1
    margin: 8px
.ma-2
    margin: 16px
.ma-3
    margin: 24px
.ma-4
    margin: 32px
.ma-5
    margin: 40px
.ma-6
    margin: 48px
.ma-7
    margin: 56px
.ma-8
    margin: 64px


.mx-1
    margin-left: 8px
    margin-right: 8px
.mx-2
    margin-left: 16px
    margin-right: 16px
.mx-3
    margin-left: 24px
    margin-right: 24px
.mx-4
    margin-left: 32px
    margin-right: 32px
.mx-5
    margin-left: 40px
    margin-right: 40px
.mx-6
    margin-left: 48px
    margin-right: 48px
.mx-7
    margin-left: 56px
    margin-right: 56px
.mx-8
    margin-left: 64px
    margin-right: 64px

.my-1
    margin-top: 8px
    margin-bottom: 8px
.my-2
    margin-top: 16px
    margin-bottom: 16px
.my-3
    margin-top: 24px
    margin-bottom: 24px
.my-4
    margin-top: 32px
    margin-bottom: 32px
.my-5
    margin-top: 40px
    margin-bottom: 40px
.my-6
    margin-top: 48px
    margin-bottom: 48px
.my-7
    margin-top: 56px
    margin-bottom: 56px
.my-8
    margin-top: 64px
    margin-bottom: 64px
    



.pa-1
    padding: 8px
.pa-2
    padding: 16px
.pa-3
    padding: 24px
.pa-4
    padding: 32px
.pa-5
    padding: 40px
.pa-6
    padding: 48px
.pa-7
    padding: 56px
.pa-8
    padding: 64px


.px-1
    padding-left: 8px
    padding-right: 8px
.px-2
    padding-left: 16px
    padding-right: 16px
.px-3
    padding-left: 24px
    padding-right: 24px
.px-4
    padding-left: 32px
    padding-right: 32px
.px-5
    padding-left: 40px
    padding-right: 40px
.px-6
    padding-left: 48px
    padding-right: 48px
.px-7
    padding-left: 56px
    padding-right: 56px
.px-8
    padding-left: 64px
    padding-right: 64px



.py-1
    padding-top: 8px
    padding-bottom: 8px
.py-2
    padding-top: 16px
    padding-bottom: 16px
.py-3
    padding-top: 24px
    padding-bottom: 24px
.py-4
    padding-top: 32px
    padding-bottom: 32px
.py-5
    padding-top: 40px
    padding-bottom: 40px
.py-6
    padding-top: 48px
    padding-bottom: 48px
.py-7
    padding-top: 56px
    padding-bottom: 56px
.py-8
    padding-top: 64px
    padding-bottom: 64px