@mixin text
  text-decoration: none
  color: $secondary-dark
  font-family: $fonts !important
    
h1
    @include text
    font-size: 44px
    line-height: 58px
    margin: 0 0 48px 0
h2
    @include text
    font-size: 40px
    font-weight: 900
    line-height: 52px
    margin: 0 0 32px 0
h3
    @include text
    font-size: 36px
    font-weight: 900
    line-height: 46px
    margin: 0 0 32px 0
h4
    @include text
    font-size: 32px
    font-weight: 900
    line-height: 42px
    margin: 0 0 24px 0
h5
    @include text
    font-size: 28px
    font-weight: 900
    line-height: 36px
    margin: 0 0 24px 0
h6
    @include text
    font-size: 24px
    font-weight: 900
    line-height: 30px
    margin: 0 0 16px 0

    
.title
    @include text

.subtitle
    opacity: 0.6
    font-size: 14px
    font-weight: 400
    color: $main-dark
    font-family: $fonts


.text-xl //option for text size itself
    @include text
    font-size: 24px
.text-lg //option for text size itself
    @include text
    font-size: 18px
.text-md //option for text size itself
    @include text
    font-size: 16px
.text-sm //option for text size itself
    @include text
    font-size: 14px
.text-xs //option for text size itself
    @include text
    font-size: 12px


.icon-sm //option for icon size itself
  width: 16px
  height: 16px
.icon-md //option for icon size itself
  width: 24px
  height: 24px
.icon-lg //option for icon size itself
  width: 32px
  height: 32px

.input-text
  width: 100%
  height: 32px
  border: none
  background: transparent
  transition: all 1s ease
  border-bottom: 1px solid gray
  &:focus
    outline: none
    border-bottom: 1px solid $primary