// colors
$Error: #D62828
$primary: #00D87F //uses for links, success bars and brand!
$main-dark: #171717 //background color in dark mode, font color in light mode
$main-light: #F0F0F0 // background color in light mode, font color in dark mode
$secondary-dark: #101B1F //card and bar colors in dark mode.
$secondary-light: #E5E5E5 //card and bar colors in light mode.
$border-color: #9E9E9E

// font
$fonts: 'Open Sans', sans-serif

// animation 
$main-transition: all 0.2s linear

// screen sizes 
$sm: 600px
$md: 1096px
$lg: 1200px